body {
    margin: 0;
}

input, textarea {
    background-color: rgba(255, 192, 203, 0.232);
    border: none;
    border-radius: 5px;
    height: 30px;
    padding: 10px;
    resize: none;
    outline: none;
    width: 300px;
}

textarea {
    height: 150px;
}

button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    color: white;
    margin: 0 auto;
    background-color: pink;
    cursor: pointer;
}

button:hover {
    background-color: rgb(250, 6, 128);
}

.navbar {
    background-color: pink;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 1.3rem;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
    color: rgb(250, 6, 128);
}

.create-post {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-post form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}